.header {
  .logo {
    max-width: 100%;
    width: 200px;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  a {
    display: flex;
    margin-left: 10px;
  }

  li {
    margin-left: 5px;
  }
  .link {
    display: flex;
  }
}
@media (max-width: 720px) {
  .header {
    a {
      margin-left: 0;
    }
    .main-nav {
      padding: 5px 15px;
      justify-content: space-between;
    }
    .sign-out {
      margin-left: 10px;
    }
  }
}
