.header {
  .logo {
    max-width: 100%;
    width: 200px;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  a {
    display: flex;
    margin-left: 10px;
  }
  ul {
    width: 180px;
    display: flex;
  }
  li {
    margin-left: 5px;
  }
}
